{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "plugins": ["prettier", "react", "react-hooks"],
  "parserOptions": {
    "ecmaVersion": "latest", 
    "sourceType": "module",
    "ecmaFeatures": {
        "jsx": true
    }
  },
  "settings": {
    "react": {
      "version": "17"
    }
  },
  "rules": {
    "prettier/prettier": "error"
  }
}